pre { color: white !important; }

.md-clipboard:before {
    transition: color .75s,opacity .75s !important;
    color: rgb(255, 255, 255);
    content: "\E14D";
}

.codehilite:hover .md-clipboard:before,.md-typeset .highlight:hover .md-clipboard:before,pre:hover .md-clipboard:before {
    color: rgba(255, 255, 255, 0.54) !important
}

.md-typeset table:not([class]) th {
    min-width: 10rem;
    padding: 1.2rem 1.6rem;
    background-color: white !important;
    color: #000;
    border-bottom: .1rem solid rgba(0,0,0,.07);
    border-top: .1rem solid rgba(0,0,0,.07);
    font-weight: bold;
    vertical-align: top;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

td {
    border-right: .05rem solid rgba(0,0,0,.07);
}